<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand text-center" href="#">BnE</a>

  <div class="collapse navbar-collapse justify-content-md-left" id="navbarToggler">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">FEMME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">HOMME</a>
      </li>
    </ul>
  </div>
  <ul class="bne-navbar-nav">
      <li class="bne-nav-item">
        <a href="">
          <i class="fa fa-user-o"></i>
        </a>
      </li>
      <li class="bne-nav-item">
        <a href="">
          <i class="fa fa-heart-o"></i>
        </a>
      </li>
      <li class="bne-nav-item">
        <a href="">
          <i class="fa fa-shopping-bag"></i>
        </a>
      </li>
    </ul>
</nav>
