.header {
    height: 450px;
    background: url(../../assets/images/hp.jpg) center top fixed;
    background-repeat: repeat-x;
    width: 90%;
    margin: auto;
    /* -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover; */
  }